if SHIELD_STRIZH_LEFT_7COL

config ZMK_KEYBOARD_NAME
    default "strizh"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_STRIZH_RIGHT_TRACKPAD

config SPI
    default y

endif

if SHIELD_STRIZH_LEFT_7COL || SHIELD_STRIZH_RIGHT_TRACKPAD

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

config ZMK_POINTING_SMOOTH_SCROLLING
    default y

config ZMK_STUDIO
    default y

endif
